/* 默认样式 */
html{overflow-y:scroll;}
*{ margin:0; padding:0; font-weight:normal; line-height:100%;}
i,em{ font-style:normal;}

body{ font-size:12px;font-family:"冬青黑体简体中文","微软雅黑","宋体",Arial,sans-serif; overflow:hidden;}
a{ text-decoration:none; color:#666666; }
li{ list-style:none; }
img{ border:none 0; vertical-align:top;}
input{ outline:none; border:none; background:none;}
input,textarea,select{ margin:0; }					
input,textarea{ padding:0;}
input::-ms-clear{display:none;}
a:hover{color:#ff4400;}
.orange-color{color:#ff4400;}

/* 浮动公共样式 */
.left{ float:left; _display:inline; }
.right{ float:right; _display:inline; }
.clearfix:after{ display:block; content:''; clear:both;}
.clearfix{ zoom:1;}

	

 