
.left_door{width:50%;height:100%;background:url(../images/bg.jpg) no-repeat left top;background-size: cover; position: absolute;left:0;top:0;z-index: 999; }
.right_door{width:50%;height:100%;background:url(../images/bg.jpg) no-repeat right top;background-size: cover;position:absolute;right:0;top:0;z-index: 999; }
.header{ width:100%;height:70px;background: rgba(6, 56, 255, 0.48);position:fixed;left:0;top:0;z-index:98;   }
.head{ width:80%;height:100%; margin:0 auto; }
.logo_box{ width:200px;height:100%;line-height: 70px; float:left;text-align: center; }
.logo_box img{ width:50px;height:50px;border-radius:50%;border:2px solid #fff;margin-top: 8px;transition:.3s all ease; }
.logo_box img:hover{ -webkit-box-shadow:0 0 10px #fff;-webkit-transform: scale(1.2); }
.head_nav{ float:right;height:100%; }
.head_nav li{ float:left;width:95px;text-align: center;line-height:70px; font-size: 16px;cursor: pointer; }
.head_nav li a{ display: inline-block;letter-spacing: 1px;outline: medium none;margin: 20px 0;position: relative;text-shadow: 0 0 1px rgb(255, 255, 255);text-transform: uppercase;font-weight: bold;color: #ff0000; }
.content{ width:100%;position: absolute;left:0;top:0;background:url(../images/bg111.jpg) no-repeat 0 0;background-size:cover; }
.bigBox{ width:100%;height:600px;position:relative; }
.bigBox1 .pen{width: 100px;height: 100px; background:url(../images/pen.png) no-repeat 0 0; position: absolute;top:50%;left:25%;background-size:cover;transform:translateY(-100px);z-index: 9;}
.bigBox1 #btnpen{width:100px;height: 40px;outline:none; cursor: pointer; line-height: 40px; background: #a533fd;color: #fff;border:none;border-radius: 5px; text-align: center;position:absolute;left:100px;top:150px;z-index:99;font-size:20px;}
.font{position:absolute;left:100px;top:200px;font-size:16px;}
.em{ width:5px; height:5px; background:#000; position:absolute;}
.box{ width:80%;height:100%;margin:0 auto; position: relative; }
.circle{ width:300px;height:300px; border:1px solid #00f;border-radius: 50%; position: absolute;left:50%;top:50%;margin-top:-150px;}
.circle img{ width:100%;height:100%;border-radius: 50%; }
.circle p{ width:100px;height:40px;line-height: 40px;text-align: center;font-size: 14px;cursor: pointer; border-radius:20px;position: absolute;left:50%;top:0;margin-left:-50px;margin-top: -20px; }
.circle span{position: absolute;left:50%;top:50%;margin-left:-30px;margin-top:-15px; width:60px;height:30px;background:#f0f;border-radius: 50%;opacity: 1;filter:alpha(opacity=100);cursor: pointer;color:#fff;font-size:20px;text-align: center;line-height: 30px; }
.p1{ background: #00f;z-index: 4; }
.p2{ background: #0f0;z-index: 3; }
.p3{ background: #f0f;z-index: 2; }
.p4{ background: #f00;z-index: 1; }
.through{padding-top: 70px;padding-left:5%; }
.through li{ float:left;width:0;height:0;background-color: #ccc;margin:10px;position: relative;overflow: hidden; }
.through li i{width:4px;height:0;background: #0bffca;position:absolute;left:0;top:0;transition:.4s all ease;}
.through li span{width:0;height:4px;background: #0bffca;position:absolute;left:0;top:0;transition:.4s all ease;}
.through li em{width:4px;height:0;background: #0bffca;position:absolute;right:0;bottom:0;transition:.4s all ease;}
.through li strong{width:0;height:4px;background: #0bffca;position:absolute;right:0;bottom:0;transition:.4s all ease;}
.through li a{ width:100%;height:100%; background: #b800b8;font-size: 28px;font-weight: bold; opacity: 0.3;filter:alpha(opacity=30);position: absolute;left:0;top:-200px;font-size: 14px;color:#fff;line-height: 100%;text-align: center; -moz-opacity:0.3;-khtml-opacity: 0.3;}
.li_t1{ background-image: url(../images/li_t1.jpg);background-size:cover; }
.li_t2{ background: url(../images/li_t2.jpg);background-size:cover; }
.li_t3{ background: url(../images/li_t3.jpg);background-size:cover; }
.li_t4{ background: url(../images/li_t4.jpg);background-size:cover; }
.li_t5{ background: url(../images/li_t5.jpg);background-size:cover; }
.li_t6{ background: url(../images/li_t6.jpg);background-size:cover; }
.li_t7{ background: url(../images/li_t7.jpg);background-size:cover; }
.li_t8{ background: url(../images/li_t8.jpg);background-size:cover; }
.li_t9{ background: url(../images/li_t9.jpg);background-size:cover; }
.li_t10{ background: url(../images/li_t10.jpg);background-size:cover; }
.li_t11{ background: url(../images/li_t11.jpg);background-size:cover; }
.li_t12{ background: url(../images/li_t12.jpg);background-size:cover; }
.resume{ width:350px;height:600px;position: absolute;left:50%;top:70px;margin-left:-175px;}
.contect_p1{position: absolute;left:0;top:45%;width:270px;height:30px;font-size: 24px;line-height: 30px;text-align: left;color: #0bffca;opacity: 0;filter:alpha(opacity=0); margin-left:-135px;margin-top:-15px;background: #cc007d;}
.contect_p2{position: absolute;left:0;top:50%;width:270px;height:30px;font-size: 24px;line-height: 30px;text-align: left;color: #ffff00;opacity: 0;filter:alpha(opacity=0); margin-left:-135px;margin-top:-15px;background: #ff0000;}
.contect_p3{position: absolute;left:0;top:55%;width:270px;height:30px;font-size: 24px;line-height: 30px;text-align: left;color: #00ff00;opacity: 0;filter:alpha(opacity=0); margin-left:-135px;margin-top:-15px;background: #0000ff;}